{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://codedeploy.amazonaws.com/"
        },
        {
            "url": "http://codedeploy.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS CodeDeploy</fullname> <p>AWS CodeDeploy is a deployment service that automates application deployments to Amazon EC2 instances, on-premises instances running in your own facility, serverless AWS Lambda functions, or applications in an Amazon ECS service.</p> <p>You can deploy a nearly unlimited variety of application content, such as an updated Lambda function, updated applications in an Amazon ECS service, code, web and configuration files, executables, packages, scripts, multimedia files, and so on. AWS CodeDeploy can deploy application content stored in Amazon S3 buckets, GitHub repositories, or Bitbucket repositories. You do not need to make changes to your existing code before you can use AWS CodeDeploy.</p> <p>AWS CodeDeploy makes it easier for you to rapidly release new features, helps you avoid downtime during application deployment, and handles the complexity of updating your applications, without many of the risks associated with error-prone manual deployments.</p> <p> <b>AWS CodeDeploy Components</b> </p> <p>Use the information in this guide to help you work with the following AWS CodeDeploy components:</p> <ul> <li> <p> <b>Application</b>: A name that uniquely identifies the application you want to deploy. AWS CodeDeploy uses this name, which functions as a container, to ensure the correct combination of revision, deployment configuration, and deployment group are referenced during a deployment.</p> </li> <li> <p> <b>Deployment group</b>: A set of individual instances, CodeDeploy Lambda deployment configuration settings, or an Amazon ECS service and network details. A Lambda deployment group specifies how to route traffic to a new version of a Lambda function. An Amazon ECS deployment group specifies the service created in Amazon ECS to deploy, a load balancer, and a listener to reroute production traffic to an updated containerized application. An EC2/On-premises deployment group contains individually tagged instances, Amazon EC2 instances in Amazon EC2 Auto Scaling groups, or both. All deployment groups can specify optional trigger, alarm, and rollback settings.</p> </li> <li> <p> <b>Deployment configuration</b>: A set of deployment rules and deployment success and failure conditions used by AWS CodeDeploy during a deployment.</p> </li> <li> <p> <b>Deployment</b>: The process and the components used when updating a Lambda function, a containerized application in an Amazon ECS service, or of installing content on one or more instances. </p> </li> <li> <p> <b>Application revisions</b>: For an AWS Lambda deployment, this is an AppSpec file that specifies the Lambda function to be updated and one or more functions to validate deployment lifecycle events. For an Amazon ECS deployment, this is an AppSpec file that specifies the Amazon ECS task definition, container, and port where production traffic is rerouted. For an EC2/On-premises deployment, this is an archive file that contains source content—source code, webpages, executable files, and deployment scripts—along with an AppSpec file. Revisions are stored in Amazon S3 buckets or GitHub repositories. For Amazon S3, a revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For GitHub, a revision is uniquely identified by its commit ID.</p> </li> </ul> <p>This guide also contains information to help you get details about the instances in your deployments, to make on-premises instances available for AWS CodeDeploy deployments, to get details about a Lambda function deployment, and to get details about Amazon ECS service deployments.</p> <p> <b>AWS CodeDeploy Information Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide\">AWS CodeDeploy User Guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/codedeploy/latest/APIReference/\">AWS CodeDeploy API Reference Guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cli/latest/reference/deploy/index.html\">AWS CLI Reference for AWS CodeDeploy</a> </p> </li> <li> <p> <a href=\"https://forums.aws.amazon.com/forum.jspa?forumID=179\">AWS CodeDeploy Developer Forum</a> </p> </li> </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS CodeDeploy",
        "version": "2014-10-06",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codedeploy-2014-10-06.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "codedeploy"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/codedeploy/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds tags to on-premises instances.",
                "operationId": "AddTagsToOnPremisesInstances",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InstanceNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInstanceNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TagRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidTagException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "TagLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InstanceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InstanceNotRegisteredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of, and adds tags to, an on-premises instance operation.",
                                "properties": {
                                    "instanceNames": {
                                        "description": "The names of the on-premises instances to which to add tags.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "tags": {
                                        "description": "<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>",
                                        "items": {
                                            "description": "Information about a tag.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The tag's key.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The tag's value.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "tags",
                                    "instanceNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchGetApplicationRevisions": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets information about one or more application revisions.",
                "operationId": "BatchGetApplicationRevisions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of a BatchGetApplicationRevisions operation.",
                                    "properties": {
                                        "applicationName": {
                                            "description": "The name of the application that corresponds to the revisions.",
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "errorMessage": {
                                            "description": "Information about errors that might have occurred during the API call.",
                                            "type": "string"
                                        },
                                        "revisions": {
                                            "description": "Additional information about the revisions, including the type and location.",
                                            "items": {
                                                "description": "Information about an application revision.",
                                                "properties": {
                                                    "genericRevisionInfo": {
                                                        "description": "Information about an application revision, including usage details and associated deployment groups.",
                                                        "properties": {
                                                            "deploymentGroups": {
                                                                "description": "The deployment groups for which this is the current target revision.",
                                                                "items": {
                                                                    "maxLength": 100,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "description": {
                                                                "description": "A comment about the revision.",
                                                                "type": "string"
                                                            },
                                                            "firstUsedTime": {
                                                                "description": "When the revision was first used by AWS CodeDeploy.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "lastUsedTime": {
                                                                "description": "When the revision was last used by AWS CodeDeploy.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "registerTime": {
                                                                "description": "When the revision was registered with AWS CodeDeploy.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "revisionLocation": {
                                                        "description": "Information about the location and type of an application revision.",
                                                        "properties": {
                                                            "appSpecContent": {
                                                                "description": " The content of an AppSpec file for an AWS Lambda or Amazon ECS deployment. The content is formatted as JSON or YAML and stored as a RawString. ",
                                                                "properties": {
                                                                    "content": {
                                                                        "description": "<p> The YAML-formatted or JSON-formatted revision string. </p> <p> For an AWS Lambda deployment, the content includes a Lambda function name, the alias for its original version, and the alias for its replacement version. The deployment shifts traffic from the original version of the Lambda function to the replacement version. </p> <p> For an Amazon ECS deployment, the content includes the task name, information about the load balancer that serves traffic to the container, and more. </p> <p> For both types of deployments, the content can specify Lambda functions that run at specified hooks, such as <code>BeforeInstall</code>, during a deployment. </p>",
                                                                        "type": "string"
                                                                    },
                                                                    "sha256": {
                                                                        "description": " The SHA256 hash value of the revision content. ",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "gitHubLocation": {
                                                                "description": "Information about the location of application artifacts stored in GitHub.",
                                                                "properties": {
                                                                    "commitId": {
                                                                        "description": "The SHA1 commit ID of the GitHub commit that represents the bundled artifacts for the application revision.",
                                                                        "type": "string"
                                                                    },
                                                                    "repository": {
                                                                        "description": "<p>The GitHub account and repository pair that stores a reference to the commit that represents the bundled artifacts for the application revision. </p> <p>Specified as account/repository.</p>",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "revisionType": {
                                                                "description": "<p>The type of application revision:</p> <ul> <li> <p>S3: An application revision stored in Amazon S3.</p> </li> <li> <p>GitHub: An application revision stored in GitHub (EC2/On-premises deployments only).</p> </li> <li> <p>String: A YAML-formatted or JSON-formatted string (AWS Lambda deployments only).</p> </li> </ul>",
                                                                "enum": [
                                                                    "S3",
                                                                    "GitHub",
                                                                    "String",
                                                                    "AppSpecContent"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "s3Location": {
                                                                "description": "Information about the location of a revision stored in Amazon S3. ",
                                                                "properties": {
                                                                    "bucket": {
                                                                        "description": "The name of the Amazon S3 bucket where the application revision is stored.",
                                                                        "type": "string"
                                                                    },
                                                                    "bundleType": {
                                                                        "description": "<p>The file type of the application revision. Must be one of the following:</p> <ul> <li> <p>tar: A tar archive file.</p> </li> <li> <p>tgz: A compressed tar archive file.</p> </li> <li> <p>zip: A zip archive file.</p> </li> </ul>",
                                                                        "enum": [
                                                                            "tar",
                                                                            "tgz",
                                                                            "zip",
                                                                            "YAML",
                                                                            "JSON"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "eTag": {
                                                                        "description": "<p>The ETag of the Amazon S3 object that represents the bundled artifacts for the application revision.</p> <p>If the ETag is not specified as an input parameter, ETag validation of the object is skipped.</p>",
                                                                        "type": "string"
                                                                    },
                                                                    "key": {
                                                                        "description": "The name of the Amazon S3 object that represents the bundled artifacts for the application revision.",
                                                                        "type": "string"
                                                                    },
                                                                    "version": {
                                                                        "description": "<p>A specific version of the Amazon S3 object that represents the bundled artifacts for the application revision.</p> <p>If the version is not specified, the system uses the most recent version by default.</p>",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "string": {
                                                                "description": "Information about the location of an AWS Lambda deployment revision stored as a RawString.",
                                                                "properties": {
                                                                    "content": {
                                                                        "description": "The YAML-formatted or JSON-formatted revision string. It includes information about which Lambda function to update and optional Lambda functions that validate deployment lifecycle events.",
                                                                        "type": "string"
                                                                    },
                                                                    "sha256": {
                                                                        "description": "The SHA256 hash value of the revision content.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ApplicationDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ApplicationNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidApplicationNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "RevisionRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidRevisionException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "BatchLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a BatchGetApplicationRevisions operation.",
                                "properties": {
                                    "applicationName": {
                                        "description": "The name of an AWS CodeDeploy application about which to get revision information.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "revisions": {
                                        "description": "Information to get about the application revisions, including type and location.",
                                        "items": {
                                            "description": "Information about the location of an application revision.",
                                            "properties": {
                                                "appSpecContent": {
                                                    "description": " The content of an AppSpec file for an AWS Lambda or Amazon ECS deployment. The content is formatted as JSON or YAML and stored as a RawString. ",
                                                    "properties": {
                                                        "content": {
                                                            "description": "<p> The YAML-formatted or JSON-formatted revision string. </p> <p> For an AWS Lambda deployment, the content includes a Lambda function name, the alias for its original version, and the alias for its replacement version. The deployment shifts traffic from the original version of the Lambda function to the replacement version. </p> <p> For an Amazon ECS deployment, the content includes the task name, information about the load balancer that serves traffic to the container, and more. </p> <p> For both types of deployments, the content can specify Lambda functions that run at specified hooks, such as <code>BeforeInstall</code>, during a deployment. </p>",
                                                            "type": "string"
                                                        },
                                                        "sha256": {
                                                            "description": " The SHA256 hash value of the revision content. ",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "gitHubLocation": {
                                                    "description": "Information about the location of application artifacts stored in GitHub.",
                                                    "properties": {
                                                        "commitId": {
                                                            "description": "The SHA1 commit ID of the GitHub commit that represents the bundled artifacts for the application revision.",
                                                            "type": "string"
                                                        },
                                                        "repository": {
                                                            "description": "<p>The GitHub account and repository pair that stores a reference to the commit that represents the bundled artifacts for the application revision. </p> <p>Specified as account/repository.</p>",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "revisionType": {
                                                    "description": "<p>The type of application revision:</p> <ul> <li> <p>S3: An application revision stored in Amazon S3.</p> </li> <li> <p>GitHub: An application revision stored in GitHub (EC2/On-premises deployments only).</p> </li> <li> <p>String: A YAML-formatted or JSON-formatted string (AWS Lambda deployments only).</p> </li> </ul>",
                                                    "enum": [
                                                        "S3",
                                                        "GitHub",
                                                        "String",
                                                        "AppSpecContent"
                                                    ],
                                                    "type": "string"
                                                },
                                                "s3Location": {
                                                    "description": "Information about the location of a revision stored in Amazon S3. ",
                                                    "properties": {
                                                        "bucket": {
                                                            "description": "The name of the Amazon S3 bucket where the application revision is stored.",
                                                            "type": "string"
                                                        },
                                                        "bundleType": {
                                                            "description": "<p>The file type of the application revision. Must be one of the following:</p> <ul> <li> <p>tar: A tar archive file.</p> </li> <li> <p>tgz: A compressed tar archive file.</p> </li> <li> <p>zip: A zip archive file.</p> </li> </ul>",
                                                            "enum": [
                                                                "tar",
                                                                "tgz",
                                                                "zip",
                                                                "YAML",
                                                                "JSON"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "eTag": {
                                                            "description": "<p>The ETag of the Amazon S3 object that represents the bundled artifacts for the application revision.</p> <p>If the ETag is not specified as an input parameter, ETag validation of the object is skipped.</p>",
                                                            "type": "string"
                                                        },
                                                        "key": {
                                                            "description": "The name of the Amazon S3 object that represents the bundled artifacts for the application revision.",
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "description": "<p>A specific version of the Amazon S3 object that represents the bundled artifacts for the application revision.</p> <p>If the version is not specified, the system uses the most recent version by default.</p>",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "string": {
                                                    "description": "Information about the location of an AWS Lambda deployment revision stored as a RawString.",
                                                    "properties": {
                                                        "content": {
                                                            "description": "The YAML-formatted or JSON-formatted revision string. It includes information about which Lambda function to update and optional Lambda functions that validate deployment lifecycle events.",
                                                            "type": "string"
                                                        },
                                                        "sha256": {
                                                            "description": "The SHA256 hash value of the revision content.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "applicationName",
                                    "revisions"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchGetApplications": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets information about one or more applications.",
                "operationId": "BatchGetApplications",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of a BatchGetApplications operation.",
                                    "properties": {
                                        "applicationsInfo": {
                                            "description": "Information about the applications.",
                                            "items": {
                                                "description": "Information about an application.",
                                                "properties": {
                                                    "applicationId": {
                                                        "description": "The application ID.",
                                                        "type": "string"
                                                    },
                                                    "applicationName": {
                                                        "description": "The application name.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "computePlatform": {
                                                        "description": "The destination platform type for deployment of the application (<code>Lambda</code> or <code>Server</code>).",
                                                        "enum": [
                                                            "Server",
                                                            "Lambda",
                                                            "ECS"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "createTime": {
                                                        "description": "The time at which the application was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "gitHubAccountName": {
                                                        "description": "The name for a connection to a GitHub account.",
                                                        "type": "string"
                                                    },
                                                    "linkedToGitHub": {
                                                        "description": "True if the user has authenticated with GitHub for the specified application. Otherwise, false.",
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ApplicationNameRequiredException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidApplicationNameException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ApplicationDoesNotExistException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BatchLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a BatchGetApplications operation.",
                                "properties": {
                                    "applicationNames": {
                                        "description": "A list of application names separated by spaces.",
                                        "items": {
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "applicationNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchGetDeploymentGroups": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Gets information about one or more deployment groups.",
                "operationId": "BatchGetDeploymentGroups",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of a BatchGetDeploymentGroups operation.",
                                    "properties": {
                                        "deploymentGroupsInfo": {
                                            "description": "Information about the deployment groups.",
                                            "items": {
                                                "description": "Information about a deployment group.",
                                                "properties": {
                                                    "alarmConfiguration": {
                                                        "description": "A list of alarms associated with the deployment group.",
                                                        "properties": {
                                                            "alarms": {
                                                                "description": "A list of alarms configured for the deployment group. A maximum of 10 alarms can be added to a deployment group.",
                                                                "items": {
                                                                    "description": "Information about an alarm.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the alarm. Maximum length is 255 characters. Each alarm name can be used only once in a list of alarms.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "enabled": {
                                                                "description": "Indicates whether the alarm configuration is enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "ignorePollAlarmFailure": {
                                                                "description": "<p>Indicates whether a deployment should continue if information about the current state of alarms cannot be retrieved from Amazon CloudWatch. The default value is false.</p> <ul> <li> <p>true: The deployment proceeds even if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> <li> <p>false: The deployment stops if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> </ul>",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "applicationName": {
                                                        "description": "The application name.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "autoRollbackConfiguration": {
                                                        "description": "Information about the automatic rollback configuration associated with the deployment group.",
                                                        "properties": {
                                                            "enabled": {
                                                                "description": "Indicates whether a defined automatic rollback configuration is currently enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "events": {
                                                                "description": "The event type or types that trigger a rollback.",
                                                                "items": {
                                                                    "enum": [
                                                                        "DEPLOYMENT_FAILURE",
                                                                        "DEPLOYMENT_STOP_ON_ALARM",
                                                                        "DEPLOYMENT_STOP_ON_REQUEST"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "autoScalingGroups": {
                                                        "description": "A list of associated Auto Scaling groups.",
                                                        "items": {
                                                            "description": "Information about an Auto Scaling group.",
                                                            "properties": {
                                                                "hook": {
                                                                    "description": "An Auto Scaling lifecycle event hook name.",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "The Auto Scaling group name.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "blueGreenDeploymentConfiguration": {
                                                        "description": "Information about blue/green deployment options for a deployment group.",
                                                        "properties": {
                                                            "deploymentReadyOption": {
                                                                "description": "Information about the action to take when newly provisioned instances are ready to receive traffic in a blue/green deployment.",
                                                                "properties": {
                                                                    "actionOnTimeout": {
                                                                        "description": "<p>Information about when to reroute traffic from an original environment to a replacement environment in a blue/green deployment.</p> <ul> <li> <p>CONTINUE_DEPLOYMENT: Register new instances with the load balancer immediately after the new application revision is installed on the instances in the replacement environment.</p> </li> <li> <p>STOP_DEPLOYMENT: Do not register new instances with a load balancer unless traffic rerouting is started using <a>ContinueDeployment</a>. If traffic rerouting is not started before the end of the specified wait period, the deployment status is changed to Stopped.</p> </li> </ul>",
                                                                        "enum": [
                                                                            "CONTINUE_DEPLOYMENT",
                                                                            "STOP_DEPLOYMENT"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "waitTimeInMinutes": {
                                                                        "description": "The number of minutes to wait before the status of a blue/green deployment is changed to Stopped if rerouting is not started manually. Applies only to the STOP_DEPLOYMENT option for actionOnTimeout",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "greenFleetProvisioningOption": {
                                                                "description": "Information about how instances are provisioned for a replacement environment in a blue/green deployment.",
                                                                "properties": {
                                                                    "action": {
                                                                        "description": "<p>The method used to add instances to a replacement environment.</p> <ul> <li> <p>DISCOVER_EXISTING: Use instances that already exist or will be created manually.</p> </li> <li> <p>COPY_AUTO_SCALING_GROUP: Use settings from a specified Auto Scaling group to define and create instances in a new Auto Scaling group.</p> </li> </ul>",
                                                                        "enum": [
                                                                            "DISCOVER_EXISTING",
                                                                            "COPY_AUTO_SCALING_GROUP"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "terminateBlueInstancesOnDeploymentSuccess": {
                                                                "description": "Information about whether to terminate instances in the original fleet during a blue/green deployment.",
                                                                "properties": {
                                                                    "action": {
                                                                        "description": "<p>The action to take on instances in the original environment after a successful blue/green deployment.</p> <ul> <li> <p>TERMINATE: Instances are terminated after a specified wait time.</p> </li> <li> <p>KEEP_ALIVE: Instances are left running after they are deregistered from the load balancer and removed from the deployment group.</p> </li> </ul>",
                                                                        "enum": [
                                                                            "TERMINATE",
                                                                            "KEEP_ALIVE"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "terminationWaitTimeInMinutes": {
                                                                        "description": "The number of minutes to wait after a successful blue/green deployment before terminating instances from the original environment. The maximum setting is 2880 minutes (2 days).",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "computePlatform": {
                                                        "description": "The destination platform type for the deployment group (<code>Lambda</code> or <code>Server</code>).",
                                                        "enum": [
                                                            "Server",
                                                            "Lambda",
                                                            "ECS"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "deploymentConfigName": {
                                                        "description": "The deployment configuration name.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "deploymentGroupId": {
                                                        "description": "The deployment group ID.",
                                                        "type": "string"
                                                    },
                                                    "deploymentGroupName": {
                                                        "description": "The deployment group name.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "deploymentStyle": {
                                                        "description": "Information about the type of deployment, either in-place or blue/green, you want to run and whether to route deployment traffic behind a load balancer.",
                                                        "properties": {
                                                            "deploymentOption": {
                                                                "description": "Indicates whether to route deployment traffic behind a load balancer.",
                                                                "enum": [
                                                                    "WITH_TRAFFIC_CONTROL",
                                                                    "WITHOUT_TRAFFIC_CONTROL"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "deploymentType": {
                                                                "description": "Indicates whether to run an in-place deployment or a blue/green deployment.",
                                                                "enum": [
                                                                    "IN_PLACE",
                                                                    "BLUE_GREEN"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "ec2TagFilters": {
                                                        "description": "The Amazon EC2 tags on which to filter. The deployment group includes EC2 instances with any of the specified tags.",
                                                        "items": {
                                                            "description": "Information about an EC2 tag filter.",
                                                            "properties": {
                                                                "Key": {
                                                                    "description": "The tag filter key.",
                                                                    "type": "string"
                                                                },
                                                                "Type": {
                                                                    "description": "<p>The tag filter type:</p> <ul> <li> <p>KEY_ONLY: Key only.</p> </li> <li> <p>VALUE_ONLY: Value only.</p> </li> <li> <p>KEY_AND_VALUE: Key and value.</p> </li> </ul>",
                                                                    "enum": [
                                                                        "KEY_ONLY",
                                                                        "VALUE_ONLY",
                                                                        "KEY_AND_VALUE"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "The tag filter value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ec2TagSet": {
                                                        "description": "Information about groups of tags applied to an EC2 instance. The deployment group includes only EC2 instances identified by all of the tag groups. Cannot be used in the same call as ec2TagFilters.",
                                                        "properties": {
                                                            "ec2TagSetList": {
                                                                "description": "A list that contains other lists of EC2 instance tag groups. For an instance to be included in the deployment group, it must be identified by all of the tag groups in the list.",
                                                                "items": {
                                                                    "items": {
                                                                        "description": "Information about an EC2 tag filter.",
                                                                        "properties": {
                                                                            "Key": {
                                                                                "description": "The tag filter key.",
                                                                                "type": "string"
                                                                            },
                                                                            "Type": {
                                                                                "description": "<p>The tag filter type:</p> <ul> <li> <p>KEY_ONLY: Key only.</p> </li> <li> <p>VALUE_ONLY: Value only.</p> </li> <li> <p>KEY_AND_VALUE: Key and value.</p> </li> </ul>",
                                                                                "enum": [
                                                                                    "KEY_ONLY",
                                                                                    "VALUE_ONLY",
                                                                                    "KEY_AND_VALUE"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "Value": {
                                                                                "description": "The tag filter value.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "ecsServices": {
                                                        "description": " The target Amazon ECS services in the deployment group. This applies only to deployment groups that use the Amazon ECS compute platform. A target Amazon ECS service is specified as an Amazon ECS cluster and service name pair using the format <code>&lt;clustername&gt;:&lt;servicename&gt;</code>. ",
                                                        "items": {
                                                            "description": " Contains the service and cluster names used to identify an Amazon ECS deployment's target. ",
                                                            "properties": {
                                                                "clusterName": {
                                                                    "description": " The name of the cluster that the Amazon ECS service is associated with. ",
                                                                    "type": "string"
                                                                },
                                                                "serviceName": {
                                                                    "description": " The name of the target Amazon ECS service. ",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "lastAttemptedDeployment": {
                                                        "description": "Information about the most recent attempted deployment to the deployment group.",
                                                        "properties": {
                                                            "createTime": {
                                                                "description": "A timestamp that indicates when the most recent deployment to the deployment group started.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "deploymentId": {
                                                                "description": " The unique ID of a deployment. ",
                                                                "type": "string"
                                                            },
                                                            "endTime": {
                                                                "description": "A timestamp that indicates when the most recent deployment to the deployment group was complete.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "The status of the most recent deployment.",
                                                                "enum": [
                                                                    "Created",
                                                                    "Queued",
                                                                    "InProgress",
                                                                    "Succeeded",
                                                                    "Failed",
                                                                    "Stopped",
                                                                    "Ready"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "lastSuccessfulDeployment": {
                                                        "description": "Information about the most recent successful deployment to the deployment group.",
                                                        "properties": {
                                                            "createTime": {
                                                                "description": "A timestamp that indicates when the most recent deployment to the deployment group started.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "deploymentId": {
                                                                "description": " The unique ID of a deployment. ",
                                                                "type": "string"
                                                            },
                                                            "endTime": {
                                                                "description": "A timestamp that indicates when the most recent deployment to the deployment group was complete.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "The status of the most recent deployment.",
                                                                "enum": [
                                                                    "Created",
                                                                    "Queued",
                                                                    "InProgress",
                                                                    "Succeeded",
                                                                    "Failed",
                                                                    "Stopped",
                                                                    "Ready"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "loadBalancerInfo": {
                                                        "description": "Information about the load balancer to use in a deployment.",
                                                        "properties": {
                                                            "elbInfoList": {
                                                                "description": "<p>An array that contains information about the load balancer to use for load balancing in a deployment. In Elastic Load Balancing, load balancers are used with Classic Load Balancers.</p> <note> <p> Adding more than one load balancer to the array is not supported. </p> </note>",
                                                                "items": {
                                                                    "description": "Information about a load balancer in Elastic Load Balancing to use in a deployment. Instances are registered directly with a load balancer, and traffic is routed to the load balancer.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "For blue/green deployments, the name of the load balancer that is used to route traffic from original instances to replacement instances in a blue/green deployment. For in-place deployments, the name of the load balancer that instances are deregistered from so they are not serving traffic during a deployment, and then re-registered with after the deployment is complete.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "targetGroupInfoList": {
                                                                "description": "<p>An array that contains information about the target group to use for load balancing in a deployment. In Elastic Load Balancing, target groups are used with Application Load Balancers.</p> <note> <p> Adding more than one target group to the array is not supported. </p> </note>",
                                                                "items": {
                                                                    "description": "Information about a target group in Elastic Load Balancing to use in a deployment. Instances are registered as targets in a target group, and traffic is routed to the target group.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "For blue/green deployments, the name of the target group that instances in the original environment are deregistered from, and instances in the replacement environment are registered with. For in-place deployments, the name of the target group that instances are deregistered from, so they are not serving traffic during a deployment, and then re-registered with after the deployment is complete. ",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "targetGroupPairInfoList": {
                                                                "description": " The target group pair information. This is an array of <code>TargeGroupPairInfo</code> objects with a maximum size of one. ",
                                                                "items": {
                                                                    "description": " Information about two target groups and how traffic is routed during an Amazon ECS deployment. An optional test traffic route can be specified. ",
                                                                    "properties": {
                                                                        "prodTrafficRoute": {
                                                                            "description": " The path used by a load balancer to route production traffic when an Amazon ECS deployment is complete. ",
                                                                            "properties": {
                                                                                "listenerArns": {
                                                                                    "description": " The ARN of one listener. The listener identifies the route between a target group and a load balancer. This is an array of strings with a maximum size of one. ",
                                                                                    "items": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "targetGroups": {
                                                                            "description": " One pair of target groups. One is associated with the original task set. The second is associated with the task set that serves traffic after the deployment is complete. ",
                                                                            "items": {
                                                                                "description": "Information about a target group in Elastic Load Balancing to use in a deployment. Instances are registered as targets in a target group, and traffic is routed to the target group.",
                                                                                "properties": {
                                                                                    "name": {
                                                                                        "description": "For blue/green deployments, the name of the target group that instances in the original environment are deregistered from, and instances in the replacement environment are registered with. For in-place deployments, the name of the target group that instances are deregistered from, so they are not serving traffic during a deployment, and then re-registered with after the deployment is complete. ",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "testTrafficRoute": {
                                                                            "description": " An optional path used by a load balancer to route test traffic after an Amazon ECS deployment. Validation can occur while test traffic is served during a deployment. ",
                                                                            "properties": {
                                                                                "listenerArns": {
                                                                                    "description": " The ARN of one listener. The listener identifies the route between a target group and a load balancer. This is an array of strings with a maximum size of one. ",
                                                                                    "items": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "onPremisesInstanceTagFilters": {
                                                        "description": "The on-premises instance tags on which to filter. The deployment group includes on-premises instances with any of the specified tags.",
                                                        "items": {
                                                            "description": "Information about an on-premises instance tag filter.",
                                                            "properties": {
                                                                "Key": {
                                                                    "description": "The on-premises instance tag filter key.",
                                                                    "type": "string"
                                                                },
                                                                "Type": {
                                                                    "description": "<p>The on-premises instance tag filter type:</p> <ul> <li> <p>KEY_ONLY: Key only.</p> </li> <li> <p>VALUE_ONLY: Value only.</p> </li> <li> <p>KEY_AND_VALUE: Key and value.</p> </li> </ul>",
                                                                    "enum": [
                                                                        "KEY_ONLY",
                                                                        "VALUE_ONLY",
                                                                        "KEY_AND_VALUE"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "The on-premises instance tag filter value.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "onPremisesTagSet": {
                                                        "description": "Information about groups of tags applied to an on-premises instance. The deployment group includes only on-premises instances identified by all the tag groups. Cannot be used in the same call as onPremisesInstanceTagFilters.",
                                                        "properties": {
                                                            "onPremisesTagSetList": {
                                                                "description": "A list that contains other lists of on-premises instance tag groups. For an instance to be included in the deployment group, it must be identified by all of the tag groups in the list.",
                                                                "items": {
                                                                    "items": {
[...]
